{% block content %}
{% load static %}

{% include 'header.html' %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 hero-header mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-1 text-white animated zoomIn">Assign Work </h1>
             
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;"> Assign Work</h5>
            </div>
            <div class="row g-12">
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                    <div class="bg-light rounded p-5">
                        <form action="assignwork/{{result.id}}" method="post" >
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-12">
                                  
                                    <select class="col-6"  required name="wname">
                                        <option value="none" selected>&nbsp;&nbsp; &nbsp; &nbsp;Worker Name</option>
                                        {% for i in res %}
                                        <option value="{{i.name}}">{{i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
            
                                <div class="col-6">
                                    <input type="text" class="form-control border-0 px-4" placeholder="User Name" value="{{result.uid}}" name="uid" hidden required data-error="Please enter Device name" style="height: 55px;">
                                </div>
                                

                                <div class="col-6">
                                    <input type="text" class="form-control border-0 px-4" hidden  value="{{result.id}}" name="cmpltid"  style="height: 55px;">
                                </div>
                               
                                <div class="col-6">
                                    <input type="date" class="form-control border-0 px-4" placeholder="Date" name="time"  required  style="height: 55px;">
                                </div>
                               
                                <div class="col-12">
                                    <input type="text" class="form-control border-0 px-4"  name="status" value="pending" hidden style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control border-0 px-4"  name="cstatus" value="Not Completed" hidden style="height: 55px;">
                                </div>
                                
                                <div class="col-6">
                                    <button class="btn btn-primary w-100 py-3" name="submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
      
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% include 'footer.html' %}

{% endblock %}