{% block content %}
{% load static %}

{% include 'header.html' %}

{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
{% if message1 %}
<script>
    alert('{{ message1 }}');
</script>
{% endif %}

{% if message2 %}
<script>
    alert('{{ message2 }}');
</script>
{% endif %}

{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/v1-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase animated bounceInDown">Welcome to </h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Electronic Service Management</h1>
                        
                        </div>
                    </div>
                </div>
                
               
            </div>
           
            
        </div>
    </div>
    <!-- Carousel End -->


    
    

    <!-- Services Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
          
            <div class="row g-5">

                {% for i in result %}
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <i class="flaticon-security-system d-block display-1 fw-normal text-secondary mb-3"></i>
                            <h5 class="text-primary mb-0"></h5>
                            <h3 class="mb-3">{{i.name}}'s</h3>
                           
                        </div>
                    </div>
                </div>
                {% endfor %}
                
               
            </div>
        </div>
    </div>
    <!-- Services End -->


   



    
    {% include 'footer.html' %}

    {% endblock %}