{% block content %}
{% load static %}

{% include 'header.html' %}

<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container"><br>
        <h3>Users List</h3><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email </th>
                                <th>Place</th>
                                <th>Phone</th>
                                <th>Update</th>
                                <th>Delete</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              {% for i in result %}
                                <td class="name-pr">{{i.name}}</td>
                                <td class="price-pr">{{i.email}}</td>
                                <td class="quantity-box">{{i.place}}</td>
                                <td class="quantity-box">{{i.phone}}</td>
                                <td><a href="updateuser/{{i.id}}">Update</a></td>
      <td><a href="deleteuser/{{i.id}}">Delete</a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'footer.html' %}

{% endblock %}