{% block content %}
{% load static %}

{% include 'header.html' %}

<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container"><br>
        <h3> </h3><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <h4>User Feedbacks</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Feedback </th>
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              {% for j in result %}
                                <td class="name-pr">{{j.uname}}</td>
                                <td class="price-pr">{{j.feedback}}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table><br><br>
                    <h4>Workers Feedbacks</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Worker Name</th>
                                <th>Feedback </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              {% for i in results %}
                                <td class="name-pr">{{i.uname}}</td>
                                <td class="price-pr">{{i.feedback}}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'footer.html' %}

{% endblock %}