{% block content %}
{% load static %}

{% include 'header.html' %}

<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container"><br>
        <h3>Users List</h3><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table style="width:100%" border="1">

                        <tr>
                          <th>User Name</th>
                          <th>Rate</th>
                          <th>Card Type</th>
                          <th>Card Name</th>
                          <th>Card Number</th>
                          <th>CVV</th>
                        </tr>
                        {% for i in result %}
                        <tr>
                          <td>{{i.uid}}</td>
                          <td>{{i.rate}}</td>
                          <td>{{i.cardtype}}</td>
                          <td>{{i.cardname}}</td>
                          <td>{{i.cardno}}</td>
                          <td>{{i.cvv}}</td>
                        
                        </tr>
                        {% endfor %}
                      </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'footer.html' %}

{% endblock %}