{% load static %}
{% include 'header.html' %}
<div class="container-fluid p-5">
   
    <div class="row g-0">
        <h2>Add Tournaments Medals</h2>
        <div class="col-lg-6">
            <div class="bg-dark p-5">
                <form action="{% url 'addmed' result.id %}" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-6">
                            <label for="">Country</label>
                            <input type="text" required class="form-control bg-light border-0 px-4" name="country" placeholder="Country" style="height: 55px;">
                        </div>
                       
                        <div class="col-6">
                            <label for="">Gold</label>
                            <input type="number" required min="0" class="form-control bg-light border-0 px-4" name="gold" placeholder="Gold Medals" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <label for="">Silver</label>
                            <input type="number" required min="0" class="form-control bg-light border-0 px-4" name="silver" placeholder="Silver Medals" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <label for="">Bronze</label>
                            <input type="number" required min="0" class="form-control bg-light border-0 px-4" name="bronze" placeholder="Bronze Medals" style="height: 55px;">
                        </div>
                     

                        
                        <div class="col-6">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}