{% load static %}
{% include 'header.html' %}
<div class="container-fluid p-5">
   
    <div class="row g-0">
        <h2>Add Tournaments</h2>
        <div class="col-lg-6">
            <div class="bg-dark p-5">
                <form action="addtour" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-6">
                            <input type="text" class="form-control bg-light border-0 px-4" name="name" placeholder="name" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control bg-light border-0 px-4" name="place" placeholder="place" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" class="form-control bg-light border-0 px-4" name="start_date" placeholder="start_date" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <label for="">End Date</label>
                            <input type="date" class="form-control bg-light border-0 px-4" name="end_date" placeholder="end_date" style="height: 55px;">
                        </div>

                        
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}