{% load static %}
{% include 'header.html' %}
{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<div class="container-fluid p-5">
  
    <div class="row g-0" style="margin-left: 400px;">
        <h2>Login</h2>

        <div class="col-lg-6">
            <div class="bg-dark p-5">
                <form action="addlogin" method="POST">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            
                            <input type="text" class="form-control bg-light border-0 px-4"  name="email" placeholder="Email" style="height: 55px;">
                        </div>
                       
                       
                        <div class="col-12">
                            <input type="password" class="form-control bg-light border-0 px-4"  name="password" placeholder="password" style="height: 55px;">
                        </div>
                        
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Login </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
        {% include 'footer.html' %}