{% load static %}
{% include 'header.html' %}
<div class="container-fluid p-5">
   
    <div class="row g-0">
        <h2> Tournament Register</h2>
        <div class="col-lg-6">
            <div class="bg-dark p-5">
                <form action="add_userreg_tournament" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            <input type="text" readonly class="form-control bg-light border-0 px-4"  value="{{result.name}}" placeholder="name" style="height: 55px;">
                            <input type="hidden" class="form-control bg-light border-0 px-4"  value="{{result.id}}" name="t_id" placeholder="name" style="height: 55px;">
                        </div>
                        <div class="col-6">
                            <!-- <input type="text" class="form-control bg-light border-0 px-4" name="categry" placeholder="Category" style="height: 55px;"> -->
                            <select required name="categry" id="" class="form-control bg-light border-0 px-4">
                                {% for i in res %}
                                <option value="{{i.event}}">{{i.event}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="date" class="form-control bg-light border-0 px-4" name="date" placeholder="" style="height: 55px;">
                        </div>
                        

                       

                        
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}